body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.container {
    max-width: 420px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

p {
    color: #444;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#logo {
    width: 220px;
}

.example {
    font-family: monospace;
    background: #f6f8fa;
    padding: 0.6rem;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    word-break: break-all;
}

.form {
    display: flex;
    gap: 0.5rem;
}

#recent-list {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 600px;
}

#recent-header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#recent-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
}

#recent-list li {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #eee;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#recent-list li:last-child {
    border-bottom: none;
}

#recent-list li:hover {
    background: #f2f2f2;
}

.recent-remove {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.recent-remove:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.recent-url {
    margin-right: auto;
    margin-left: 3px;
}

.recent-url:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.green {
    color: #62B039;
}

input {
    flex: 1;
    padding: 0.7rem;
    font-size: 1rem;
}

button {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 0.85rem;
    color: #777;
    position:relative;
}